@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  background-image: linear-gradient(176.07deg, #5a2779 .13%, #175091 40.1%, #042546 86.36%);
}

body {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Evogria";
  src: local("Evogria"),
    url("./components/fonts/Evogria/Evogria.otf") format("truetype");
  font-weight: bold;
}